!-----------------------------------------
! XFT
!-----------------------------------------
Xft.dpi: 96
Xft.antialias: 1
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.rgba: rgb

!-----------------------------------------
URxvt*termName: rxvt-unicode-256color
URxvt*loginShell: true
URxvt*scrollBar: false
URxvt*secondaryScroll: true
URxvt*saveLines: 65535
URxvt*cursorUnderline: false
URxvt*urgentOnBell: true
URxvt*cursorBlink: false

! Extensions
URxvt*perl-lib: /usr/lib/urxvt/perl/
URxvt*perl-ext-common: default,matcher,searchable-scrollback
URxvt*urlLauncher: google-chrome-stable
URxvt*matcher.button: 1

! Catch ugly URLs
URxvt*cutchars: '"'()*<>[]{|}

! Font Appearance
! pacman -Ss terminus
! when not usnig xft
! URxvt*font: -*-terminus-medium-r-*-*-12-*-*-*-*-*-iso10646-1
URxvt*font: xft:terminus:pixelsize:12
URxvt*boldFont: xft:terminus:bold:pixelsize:12
URxvt*italicFont: xft:terminus:italic:pixelsize:12
URxvt*boldItalicFont: xft:terminus:bold:italic:autohint=true:pixelsize:12

! Zenburn color-scheme
!- URxvt*background: #3F3F3F
URxvt*background: #222222
URxvt*foreground: #DCDCCC
URxvt*cursorColor: #DCDCCC
URxvt*cursorColor2: #FFFFEF
URxvt*colorUL: #8CD0D3
URxvt*underlineColor: #F0DFAF
URxvt*colorBD: #E0CF9F
URxvt*colorIT: #656555

!! black dark/light
URxvt*color0: #3F3F3F
URxvt*color8: #5F5F5F
!! red dark/light
URxvt*color1: #BC8383
URxvt*color9: #CC9393
!! green dark/light
URxvt*color2: #5F7F5F
URxvt*color10: #7F9F7F
!! yellow dark/light
URxvt*color3: #E0CF9F
URxvt*color11: #F0DFAF
!! blue dark/light
URxvt*color4: #7CB8BB
URxvt*color12: #8CD0D3
!! magenta dark/light
URxvt*color5: #DC8CC3
URxvt*color13: #DC8CC3
!! cyan dark/light
URxvt*color6: #93E0E3
URxvt*color14: #93E0E3
!! white dark/light
URxvt*color7: #DCDCCC
URxvt*color15: #FFFFFF

! Tango Color Theme urxvt
 urxvt*color0: rgba:1b1b/0808/0202/CCCC
 urxvt*color1: rgb:cccc/0000/0000
 urxvt*color2: rgb:4e4e/9a9a/0606
 urxvt*color3: rgb:c4c4/a0a0/0000
 urxvt*color4: rgb:3434/6565/a4a4
 urxvt*color5: rgb:7575/5050/7b7b
 urxvt*color6: rgb:0606/9820/9a9a
 urxvt*color7: rgb:d3d3/d7d7/cfcf
 urxvt*color8: rgb:5555/5757/5353
 urxvt*color9: rgb:efef/2929/2929
urxvt*color10: rgb:8a8a/e2e2/3434
urxvt*color11: rgb:fcfc/e9e9/4f4f
urxvt*color12: rgb:7272/9f9f/cfcf
urxvt*color13: rgb:adad/7f7f/a8a8
urxvt*color14: rgb:3434/e2e2/e2e2
urxvt*color15: rgb:eeee/eeee/ecec
