export PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/bin/site_perl:/usr/bin/vendor_perl:/usr/bin/core_perl:$HOME/bin:$PATH
plugins=(git vi-mode vim-interaction)
source ~/git/dotfiles/sh/env.sh
source ~/git/dotfiles/sh/aliases.sh
source ~/git/dotfiles/zsh/zshrc.zsh
